<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bout page | <%= bout.id %></title>
</head>
<body>
  <h1><%= bout.myscore + " - " + bout.opscore %></h1>
  <ul>
    <li><%= bout.notes %></li>
  </ul>

  <a href=<%= "/bout/edit/" + bout.id%>>Edit</a>
  <a href="/">Home</a>
  <a href=<%= "/bout/delete/" + bout.id%>>Delete</a>


</body>
</html>