<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>opponent page | <%= opponent.lastname %></title>
</head>
<body>
  <h1><%= opponent.lastname.toUpperCase() + ", " + opponent.firstname %></h1>
  <ul>
    <li><%= opponent.rating + opponent.year %></li>
    <li><%= opponent.hand %></li>
    <li><%= opponent.grip %></li>
    <li><%= opponent.height %></li>
    <li><%= opponent.notes %></li>
  </ul>

  <a href=<%= "/edit/" + opponent.id%>>Edit</a>
  <a href="/">Home</a>
  <a href=<%= "/delete/" + opponent.id%>>Delete</a>


</body>
</html>